<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body style="text-align:center; background-color:Linen;">
<form action="welcome" method="post">
    {% csrf_token %}
<h1>Welcome</h1>
<h3>Your registration process is successfull</h3>
<h4>Please enrol your details to get bank services</h4><br>
    <a href="{% url 'credentials:enrol' %}" class="btn btn-secondary">Get started</a>

<!--  <button type="button" href="{% url 'credentials:enrol' %}" class="btn btn-Success" >Enrol Now</button>-->
    </form>
</body>
</html>